/* tipo de letra */
  /* Style the body */
  body {
    font-family: 'Josefin Sans';
    margin: 0;
  }

/* Contenedor principal del contacto superior */
.contactheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #113176;
    color: white;
    padding: 10px 20px;
    overflow: hidden;
}

.contactheader a {
    color: white;
    text-decoration: none;
    flex: 1;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* Contenedor principal de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    color: #113176;
    padding: 20px 20px;
    overflow: hidden;
}

.navbar-logo {
    height: 80px;                   /* Ajusta el alto de la imagen a tus necesidades */
    width: auto;
    margin-left: 200px;
}

.nav-links {
    display: flex;
    gap: 25px;                      /* Espacio uniforme entre cada uno de los enlaces */
    margin-right: 250px;
}

.nav-links a {
    color: #113176;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0d2354;                 /* Un tono más oscuro al pasar el cursor */
}

/* 1. Contenedor Padre Flexbox */
.welcome-container {
    display: flex;
    flex-direction: row; /* Forzar orientación horizontal */
    align-items: center;  /* Centrar verticalmente imagen y texto */
    background-color: #363946;
    color: #F7F7FF;
    padding: 200px;
    box-sizing: border-box;
}
/* 4. Columna Derecha (Texto) - Fija al 40% */
.main {
    flex: 0 0 40%;      /* Ocupa exactamente el 40% */
    max-width: 40%;
    box-sizing: border-box;
}

.main h2 {
    margin-top: 0;
    color: #F7F7FF;
}

.main p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* 5. Contendor para certificados */
.certificates {
    display: flex;
    flex-direction: row; /* Forzar orientación horizontal */
    align-items: center;  /* Centrar verticalmente imagen y texto */
    background-color: #f7f7f7;
    color: #363946;
    padding: 80px;
    box-sizing: border-box;
}

/* 6. Contenedor para servicios ofrecidos */
.services{
    display: flex;
    flex-direction: row; /* Forzar orientación horizontal */
    align-items: center;  /* Centrar verticalmente imagen y texto */
    background-color: #113176;
    color: #f7f7f7;
    padding: 150px;
    box-sizing: border-box;
}

/* 7. Contenedor para la infraestructura */
.facility{
    display: flex;
    flex-direction: row; /* Forzar orientación horizontal */
    justify-content: flex-end;
    align-items: center;  /* Centrar verticalmente imagen y texto */
    background-color: #f7f7f7;
    color: #363946;
    padding: 150px;
    box-sizing: border-box;
}

.facility .side {
    flex: 0 0 30%;
    max-width: 30%;
    box-sizing: border-box;
    text-align: center;
    padding-right: 20px;
}

/* 8. Contenedor para la capacidad analitica */
.analitics{
    display: flex;
    flex-direction: row; /* Forzar orientación horizontal */
    align-items: center;  /* Centrar verticalmente imagen y texto */
    background-color: #113176;
    color: #f7f7f7;
    padding: 150px;
    box-sizing: border-box;
}

.analitics .main{
    flex: 0 0 60%;
    max-width: 60%;
    box-sizing: border-box;
    text-align: center
}

.analitics .side{
    flex: 0 0 40%;
    max-width: 40%;
    box-sizing: border-box;
    text-align: center;
    padding-right: 20px;
}

/* 9. Contenedor para las publicaciones */
.publications {
    display: flex;
    flex-direction: row; /* Forzar orientación horizontal */
    align-items: center;  /* Centrar verticalmente imagen y texto */
    background-color: #f7f7f7;
    color: #113176;
    padding: 150px;
    box-sizing: border-box;
}

.publications .main {
    flex: 0 0 60%;
    max-width: 60%;
    box-sizing: border-box;
    text-align: center
}

.publications .side {
    flex: 0 0 40%;
    max-width: 40%;
    box-sizing: border-box;
    text-align: center;
    padding-right: 20px;
}

/* 10. Contenedor para contacto y direccion */
.contact {
    display: flex;
    flex-direction: row; /* Forzar orientación horizontal */
    align-items: center;  /* Centrar verticalmente imagen y texto */
    background-color: #113176;
    color: #f7f7f7;
    padding: 250px;
    box-sizing: border-box;
}

/* 11. Contenedor para las redes */
.social {
    display: flex;
    align-items: center;
    background-color: #f7f8fc;
    color: #113176;
    padding: 10px 20px;
    overflow: hidden;
}
