/* tipo de letra */
  /* Style the body */
  body {
    font-family: 'Josefin Sans';
    margin: 0;
  }

/* Contenedor principal del contacto superior */
.contactheader {
    display: flex;
    align-items: center;
    background-color: #113176;
    color: white;
    padding: 10px 20px;
    overflow: hidden;
}

/* Contenedor principal de la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    color: #113176;
    padding: 50px 20px;
    overflow: hidden;
}

/* 1. Contenedor Padre Flexbox */
.welcome-container {
    display: flex;
    flex-direction: row; /* Forzar orientación horizontal */
    align-items: center;  /* Centrar verticalmente imagen y texto */
    background-color: #363946;
    color: #F7F7FF;
    border-radius: 8px;
    padding: 150px;
    box-sizing: border-box;
}
/* 4. Columna Derecha (Texto) - Fija al 40% */
.main {
    flex: 0 0 40%;      /* Ocupa exactamente el 70% */
    max-width: 40%;
    box-sizing: border-box;
}

.main h2 {
    margin-top: 0;
    color: #F7F7FF;
}

.main p {
    font-size: 1.1rem;
    line-height: 1.6;
}

